secret_key = "key"
debug = False
port = 5000
max_content_length = 1 * 1024 * 1024 #1MB
max_usable_disk_space = 5 * 1024 * 1024 * 1024 #5GB
files_domain = 'domain.where.files.are.stored'
web_host = '127.0.0.1'
