secret_key = "key"
debug = True
port = 5000
max_content_length = 1 * 1024 * 1024 #1MB
max_usable_disk_space = 5 * 1024 * 1024 * 1024 #5GB
files_domain = 'domain where the files are stored'
web_host = '127.0.0.1'
web_port = 5000
