.filename {
    float: left;
    width: 180px;
	margin-left: 10px;
}

.uploaded {
    float: left;
	margin-left: 30px;
	width: 290px;
}

.file_entry_wrapper {
	width: auto;
	height: 20px;
}

.files {
	width: 800px;
	margin-top: 100px;
}

.delete {
    float: left;
    padding-left: 30px;
}

.filesize {
	float: left;
	width: 120px;
}

.password_update {
    width: 400px;
    padding-top: 20px;

}
.password_update label {
    float:none;
    padding-right: 30px;
    padding-bottom: 10px;

}

.password_update text {
    float: left;
}

.password_update input {
    float: right;
}

div {
    padding-top:1px;
}

.input_wrapper {
	height: 25px;
}


.upload_key_wrapper {
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
}
