.file_entry_wrapper {
    width: 600px;
}

.filename {
    float: left;
    width: 180px;
}

.expiry {
    float: left;
}

.delete {
    float: left;
    padding-left: 30px;
}

.password_update {
    width: 400px;
    padding-top: 20px;

}
.password_update label {
    float:none;
    padding-right: 30px;
    padding-bottom: 10px;

}

.password_update text {
    float: left;
}

.password_update input {
    float: right;
}

div {
    padding-top:1px;
}

.input_wrapper {
	height: 25px;
}


.upload_key_wrapper {
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
}
