input[type="submit"] {
	margin-bottom: 10px;
	float: right;
}

.file_upload {
	width: 600px;
	height: 400px;
	float: none;
	margin: auto;
}

.upload {
	float: none;
	width: 56px;
	height: 30px;
	margin: auto;
}

input[type="file"] {
	width: 600px;
	height: 400px;
	background: #313f3f;
}
